$textColor1: hsl(0, 0%, 100%);
$textColor2: hsl(75, 94%, 57%);

$backgroundColor1: hsl(0, 0%, 20%);
$backgroundColor2: hsl(0, 0%, 12%);
$backgroundColor3: hsl(0, 0%, 8%);

$font: "inter", Arial, Helvetica, sans-serif;
